<div class="Card-Column">
  <h1 class="Website-Title" id="title">
    {{title}}
  </h1>
</div>
<div class="Options-Div">
  <div class="Options-Spacing">
    <button class="Option" (click)="Toggle()">
      Card/Table Toggle
    </button>
  </div>
  <div class="Options-Spacing">
    <button class="Option" (click)="OpenCardCreator()">
      Add Flashcard
    </button>
  </div>
</div>
<div *ngIf="tableView">
  <div class="Card-Column" *ngFor="let flashcard of flashcards">
    <mat-card class="Flashcard">
      <mat-card-content>
        <h2>
          {{flashcard.question}}
        </h2>
      </mat-card-content>
      <mat-card-content>
        <div *ngIf="RevealedAnswer(flashcard)">
          <h2>
            Answer: {{flashcard.answer}}
          </h2>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="Answer-Button" (click)="ShowAnswer(flashcard)">
          Show Answer
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="!tableView">
  <table mat-table [dataSource]="flashcards">

    <ng-container matColumnDef="Question">
      <th mat-header-cell *matHeaderCellDef>Question</th>
      <td mat-cell *matCellDef="let flashcard">{{flashcard.question}}</td>
    </ng-container>

    <ng-container matColumnDef="Answer">
      <th mat-header-cell *matHeaderCellDef>Answer</th>
      <td mat-cell *matCellDef="let flashcard">{{flashcard.answer}}</td>
    </ng-container>

    <ng-container matColumnDef="Options">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <!-- <td mat-cell *matCellDef="let flashcard"><button class="Option-Card" (click)="OpenCardEditor(flashcard)">Edit</button><button class="Option-Card" (click)="DeleteFlashcard(flashcard)">Delete</button></td> -->
      <td mat-cell *matCellDef="let flashcard">
        <mat-icon class="Edit-Option" (click)="OpenCardEditor(flashcard)">edit</mat-icon>
        <mat-icon class="Delete-Option" (click)="DeleteFlashcard(flashcard)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<router-outlet></router-outlet>
