mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.actions-spacing {
  padding-left: 10px;
  padding-right: 10px;
}

.input-spacing {
  padding-bottom: 30px;
}

textarea {
  width: 100%;
  height: 50px;
}
